/* 토핑 위치 css */

.group-0 {
    top: 25%;
    left: 50%;
}

.group-1{
    top: 25%;
    left: 15%;
}

.group-2{
    top: 25%;
    left: 80%; 
}

.group-3{
    top: 50%;
    left: 65%;
    width: 100px;
}

.group-4{
    top: 50%;
    left: 30%;
}

.group-5{
    top: 75%;
    left: 20%;
}

.group-6{
    top: 75%;
    left: 50%;
}

.group-7{
    width: 100px;
    top: 75%;
    left: 80%;
}
.topping-box {
    position: absolute;
    transform: translate(-50%, -50%); /* 가운데 정렬 */
}