/* 공통 스타일 */
.topping-box {
  position: absolute;
  transform: translate(-50%, -50%); /* 가운데 정렬 */
}

/* 개별 그룹 위치 */
.group-0 {
  top: 25%;
  left: 50%;
}

.group-1 {
  top: 25%;
  left: 15%;
}

.group-2 {
  top: 25%;
  left: 80%;
}

.group-3 {
  top: 55%;
  left: 75%;
  width: 100px;
}

.group-4 {
  top: 55%;
  left: 30%;
}

.group-5 {
  top: 80%;
  left: 20%;
}

.group-6 {
  top: 75%;
  left: 50%;
}

.group-7 {
  top: 80%;
  left: 80%;
  width: 100px;
}
