/* 토핑 위치 css */

.group-0 {
    top: 5%;
    left: 50%;
}

.group-1{
    top: 25%;
    left: 20%;
}

.group-2{
    top: 30%;
    left: 50%; 
}

.group-3{
    top: 25%;
    left: 80%;
    width: 100px;
}

.group-4{
    top: 50%;
    left: 10%;
}

.group-5{
    top: 55%;
    left: 35%;
}

.group-6{
    top: 55%;
    left: 60%;
}

.group-7{
    width: 100px;
    top: 50%;
    left: 90%;
}
.topping-box {
    position: absolute;
    transform: translate(-50%, -50%); /* 가운데 정렬 */
}